# Dépendances
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build
dist/
build/
out/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'environnement
.env
.env.local
.env.*.local

# Fichiers de base de données
*.sqlite
*.sqlite3

# Fichiers de logs
logs/
*.log

# Fichiers temporaires
tmp/
temp/ 